DemoBPEL/XLSDemo/SOA/Schemas/XLSDemoBPELProcess.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/DemoBPEL/XLSDemo/XLSDemoBPELProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="firstname" type="string"/>
    <element name="lastname" type="string"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="fullname" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>